.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form h1{
  font-family: "Lato", sans-serif;
    font-weight: 700;
}
.main-heading{
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.main-heading img{
  width: 50px;
}
.main-heading h2 span{
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #136FEC;
}
.main-heading h2{
  color: #11B016;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 28px;
}
.employee-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 70%;
    padding: 12px;
    border: 1px solid gray;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  
  .form-group input {
    padding: 8px;
    border: none;
    background-color: #F0F0F0;
    border-radius: 4px;
  }
  
  button {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .employee-form {
      grid-template-columns: 1fr;
    }
  
    button {
      grid-column: span 1; 
    }
  }
  