.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    gap: 20px;
    padding: 20px;
    border: none;
    background-color: white;
  }
  .ahospital{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group input::placeholder {
    color:  #7f7f7f;
    opacity: .8; 
    font-family: "Lato", sans-serif;

  }
  .formbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
 
  
  /* Responsive design */
  @media (max-width: 480px) {
    .form-container {
      padding: 10px;
      grid-template-columns: 1fr;
      width: auto;
    }
    .form-group input,
    .form-group textarea {
      width: 138px;
    }
    .form-group label {
      font-size: 11px;
      font-family: "Lato", sans-serif;
      font-weight: 500;
    }
    .ahospital{
      font-size: 12px;
    }
    
  }
  